*{
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    background-image: url(../IMG/fondo-mayor.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.fondo{
    background-image: url(../IMG/fondo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: monospace;
    padding: 0;
    margin:0 auto;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
}

.header{
    background: #000;
    display: flex;
    flex-flow: column nowrap;
}
   .menu{
       background: #053;
   }
       .navbar{
           background: rgb(18, 124, 35);
       }
           .navbar-brand{
               background: rgb(18, 124, 35);
           }
           .logo-empresa{
               background: rgb(18, 124, 35);
               min-width: 100px;
               max-height: 107px;    
           }
           .collapse{
               background: rgb(18, 124, 35);
           }
           .navbar-nav{
               background: rgb(18, 124, 35);
           }
           .nav-item{
               background: rgb(18, 124, 35);
           }
           .nav-link{
               background: rgb(18, 124, 35);
           }
           .form-inline{
               background: rgb(18, 124, 35);
           }
           .btn{
               background: #444;
           }
           .form-control{
               background: rgb(255, 255, 255);
           }
       .menu img{
        width: 50%;
        height: 55w;
        margin-top: 10px;
        margin-bottom: 10px;
       }

.section{
    background: #000;
}
   .articulos{
       background: #634;
   }
      .article{
          background: #053;
      }
      .navegacion{
          background: #094;
      }
   .aside{
       background: #329;
   }   
      .publicidad{
          background: #763;
      }
.footer{
    background: #000;
    display: flex;
    flex-flow: column nowrap;
}
   .content-foo{
       background: #289;
       flex: 1 1 auto;
   }
