body {
    background-image: url(../IMG/fondo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: monospace;
    padding: 0;
    margin:0 auto;
    text-align: center;
   }

.logo-empresa{
    min-width: 100px;
    max-height: 107px;
    
}

.footer{
    background-color: #3C7630;
    width:100% ;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    clear: both;
    box-sizing: border-box;
    margin-top: 20px;
}



.carousel-inner img{
    image-rendering: auto;
    transition: all 200ms;
    width: 70%;
    height: 70%;
}

.carousel-caption{
    color: rgb(255, 25, 25);
    font-family: fantasy;
    font-size: x-large;
    font-style: normal;
    font-weight: lighter;
    font-variant: small-caps;
}

.content-foo{
    color: black;
    font-family: Helvetica;
}

.content-foo h4{
    text-decoration: underline;
}

.tel-num{
    min-width: 20px;
    max-height: 30px;
    
}
.email{
    min-width: 20px;
    max-height: 30px;
}
.direccion{
    min-width: 20px;
    max-height: 30px;
}