* {
    margin: 0px ;
    padding: 0px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Lato', sans-serif;
}

html, body{
    justify-content: center;
    align-items: center;
}

.fondo {
    background-color:#464E2E;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 0; 
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
}

.header {
    background: #464E2E;
    display: flex;
    flex-flow: column nowrap;
}

.menu {
    background: #464E2E;
    align-items: center;

}



.section {
    background: #464E2E;
    display: flex;
}

.estilo-b {
    font-family: sans-serif;
    text-align: center;
}

.estilo-b .img-container {
    overflow: hidden;
    position: relative;
}

.estilo-b .img-container img {
    width: 100%;
}

.estilo-b .img-container .price {
    position: absolute;
    top: 10px;
    left: 0;
    font-size: 20px;
    background: #C9E4C5;
    padding: 15px;
    opacity: 1;
}


section {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding:  0;
}

section h2 {
    width: 100%;
    color: white;
    font-family: monospace;
}

.card a {
    display: inline-block;
    margin-top: 2px;
    text-decoration: none;
    color: white;
    background-color: #2E2504;
    padding: 15px;
    border: 3px solid white;
}

.estilo-b a:hover {
    color: #2E2504;
    background-color: transparent;
    border: 3px solid #2E2504;
}


.footer {
    background: #423F3E;
    display: flex;
    flex-flow: row nowrap;

}

.row mb-3{
    background: #464E2E;
}

.content-foo {
    background: #423F3E;
    flex: 1 1 auto;
}

.content-foo h4 {
    background: #423F3E;
    color: #F0F0F0;
    font-size: 20px;
    text-transform: uppercase;
    padding: 0 10px;
    letter-spacing: 2px;

}

.content-foo img {
    background: #423F3E;
    min-width: 10px;
    max-height: 20px;

}

.content-foo p {
    background: #423F3E;

}





@media all and (max-width: 800px) {
    p.centrado{
        flex-direction: column;
    }
    .section {
        flex-direction: column;
    }

    .menu {
        flex-direction: column;
        height: auto;
    }

    .aside {
        display: flex;
        justify-content: center;
    }

}

@media all and (max-width: 600px) {
    p.centrado{
        flex-direction: column;
    }
    .articulos {
        flex-direction: column;
    }
}

@media all and (max-width: 400px) {
    p.centrado{
        flex-direction: column;
    }
    .aside {
        flex-direction: column;
    }
}


@media all and (max-width:800px) {
    .footer {
        flex-direction: column;
    }

    .navbar {
        flex-direction: column;
        height: auto;
        display: flex;
        justify-content: center;
    }

    
}
.card{
    background: #fff;
    width: 18rem;
    height: 20rem;
    
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
    transition: 0.5s ease-in-out;
}

.card:hover{
    transform: scale(1.1) !important;
}

.card:before{
    background: linear-gradient(to bottom, rgba(0,176,155,0.5), rgba(150,201,61,1));
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
}

.card:hover:before{
    opacity: 1;
}

.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.card-body{
    
    position: relative;
    z-index: 3;
    opacity: 0;
    transition: 0.5s all;
}

.card:hover .card-body{
    opacity: 1;
}



#galeria .col-lg-4{
    margin: 0 !important;
    padding: 25px;
}
#galeria img{
    width: 100%;
    height: 300px;
}


#maceteros .col-lg-4{
    margin: 0 !important;
    padding: 25px;
}
#maceteros img{
    width: 100%;
    height: 300px;
}
#maceteros img:hover{
    border: 5px solid #f7f7f7;
}

p.centrado{
    text-align: center;
    
}