header{
    background: #93d9c0;
    width: 100%;
    height: 80px;
    padding-left: 10px;
    padding-top: 10px   ;
}
footer{
    background: #b1b0b0;
    width: 100%;
    height: 80px ;
    margin-top: 30px;
    padding-left: 10px;
    padding-top: 10px;
    float: left;
    
}
a{
    text-align: center;
    padding-left: 30px;
    text-decoration: none;
    color: #b6b64d;
    font-family: fantasy;
    text-transform: capitalize;
}
nav{
    padding-top: 1px;
    padding-bottom: 1px;
    width: 920px;
    /*position: fixed;*/
}
#cajon1{
    float: left;
    margin-left: 20px;
}
#cajon2{
    float: left;
    padding-top: 10px;
    padding-left: 80px;

}
#perroGrande{
    width: 800px;
    height: 300px;
}
#slide{
    text-align: center;
    background: #6dccaa;
}
#section{
    background: #6dccaa;
    width: 100%;
    height: 500px;
    padding-left: 10px;
    padding-top: 10px;
}
#datos{
    background: #6dccaa; 
    height: 160px;
   padding-top: 60px;
   
}
#rrss{
    float: right;
    margin-right: 20px;
}
#des{
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    margin-left: 400px;
    float: left;

}
#fono{
    color: #ffffff;
    float: left;
    font-weight: bold;
    margin-left: 10px;
}
#p1{
    background-color: #ffffff;
    float: center;
    
}
#p2{
    background-color: #ffffff;
    float: left;
}
