body {
    background-image: url(../IMG/fondo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
   }

.footer{
    background-color: black;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    height: 20em;
}