body {
    background-image: url(../IMG/fondo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
   }

.footer{
    background-color: #3C7630;
    width:100% ;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
 
}

img{
    width: 50%;
    height: 55w;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
